:root {
  --primary: #ee6c4d;
  --secondary: #326ee6;
  --light: #FAFAFB;
  --dark: #12141D;
}
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
.mt-custom {
  margin-top: 9rem;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.fw-600 {
  font-weight: 600 !important;
}

.text-primary {
  color: #ee6c4d !important;
}

.btn-primary{
  background-color: #ee6c4d !important;
  border-color: #ee6c4d  !important;
}
.btn-primary:hover{
background-color: #e15b39  !important;
border-color: #e15b39   !important;
}
.bg-primary {
  background-color: #ee6c4d !important;
  border-color: #ee6c4d  !important;
}
.btn-outline-primary{
  border-color: #ee6c4d  !important;
  color: #ee6c4d  !important;
}

.btn-outline-primary:hover{
  background-color: #ee6c4d  !important;
  border-color: #ee6c4d    !important;
  color: #fff  !important;
}
#main-wrapper {
background: #fff;
}

.box #main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.section {
position: relative;
padding: 6.5rem 0;
overflow: hidden;
}  


@media (max-width: 767.98px) {
  .section {
      padding: 3.5rem 0;
  }
}

@media (max-width: 767.98px) {
  .section {
      padding: 3.5rem 0;
  }
}

/*== Scroll Down Arrow ==*/
.scroll-down-arrow {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.scroll-down-arrow .animated {
  position: relative;
  animation: fadeInDown 1.5s infinite;
  -webkit-animation: fadeInDown 1.5s infinite;
  -moz-animation: fadeInDown 1.5s infinite;
  -o-animation: fadeInDown 1.5s infinite;
}

@keyframes fadeInDown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 10px;
    opacity: 1;
  }
}

/*== Heading Separator Line ==*/
.heading-separator-line {
  width: 80px;
}



/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*** Button ***/
.btn {
  font-weight: 500;
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}


/*** Navbar ***/
/*=== 4.1 Navigation ===*/
.navbar-light .navbar-nav .active > .nav-link {
color: #0c2f55;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show {
color: #0c2f55;
}

.navbar-light .navbar-nav .show > .nav-link {
color: #0c2f55;
}

.primary-menu {
display: -webkit-box !important;
display: -ms-flexbox !important;
display: flex !important;
height: auto !important;
-webkit-box-ordinal-group: 0;
-ms-flex-item-align: stretch;
align-self: stretch;
background: #fff;
border-bottom: 1px solid #efefef;
}

.primary-menu.bg-transparent {
position: absolute;
z-index: 999;
top: 0;
left: 0;
width: 100%;
box-shadow: none;
border-bottom: 1px solid rgba(250, 250, 250, 0.3);
}

.primary-menu.sticky-on {
position: fixed;
top: 0;
width: 100%;
z-index: 1020;
left: 0;
-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
-webkit-animation: slide-down 0.7s;
-moz-animation: slide-down 0.7s;
animation: slide-down 0.7s;
}

@-webkit-keyframes slide-down {
0% {
  opacity: 0;
  transform: translateY(-100%);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
}

@-moz-keyframes slide-down {
0% {
  opacity: 0;
  transform: translateY(-100%);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
}

@keyframes slide-down {
0% {
  opacity: 0;
  transform: translateY(-100%);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
}

.primary-menu.sticky-on .none-on-sticky {
display: none !important;
}

.primary-menu ul.navbar-nav > li {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
height: 100%;
}

.primary-menu ul.navbar-nav > li + li {
margin-left: 2px;
}

.primary-menu ul.navbar-nav > li a {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}

.primary-menu ul.navbar-nav > li > a:not(.btn) {
height: 70px;
padding: 0px 0.85em;
color: #252b33;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
position: relative;
position: relative;
}

.primary-menu ul.navbar-nav > li:hover > a:not(.btn), .primary-menu ul.navbar-nav > li > a.active:not(.btn) {
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.primary-menu ul.navbar-nav > li a.btn {
padding: 0.4rem 1.4rem;
}

.primary-menu ul.navbar-nav > li.dropdown .dropdown-menu li > a:not(.btn) {
padding: 8px 0px;
background-color: transparent;
color: #777;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.primary-menu ul.navbar-nav > li.dropdown .dropdown-menu li:hover > a:not(.btn) {
color: #ee6c4d;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.primary-menu ul.navbar-nav > li.dropdown .dropdown-menu {
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.176);
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.176);
border: 0px none;
padding: 10px 15px;
min-width: 230px;
margin: 0;
font-size: 14px;
font-size: 0.875rem;
z-index: 1021;
}

.primary-menu .dropdown-menu-right {
left: auto !important;
right: 100% !important;
}

.primary-menu .dropdown-toggle:after {
content: none;
}

.primary-menu.navbar-line-under-text ul.navbar-nav > li > a:not(.btn):after {
position: absolute;
content: "";
height: 2px;
width: 0;
left: 50%;
right: 0;
bottom: 16px;
background-color: transparent;
color: #fff;
border-width: 0px 0px 3px 0px;
border-style: solid;
border-color: #ee6c4d;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
transform: translate(-50%, 0) translateZ(0);
-webkit-transform: translate(-50%, 0) translateZ(0);
}

.primary-menu.navbar-line-under-text ul.navbar-nav > li > a:hover:not(.logo):after, .primary-menu.navbar-line-under-text ul.navbar-nav > li > a.active:after {
width: calc(100% - 1.7em);
}

/*== Side Header ==*/
.side-header #main-wrapper {
margin-left: 260px;
}

.side-header.rtl #main-wrapper {
margin-right: 260px;
margin-left: auto;
}

.side-header #header {
border: none;
}

.side-header .primary-menu {
position: fixed;
left: 0;
top: 0;
width: 260px;
height: 100% !important;
background: #fff;
border-right: 1px solid rgba(0, 0, 0, 0.07);
-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
z-index: 2;
overflow: hidden;
overflow-y: auto;
}

.side-header.rtl .primary-menu {
left: auto;
right: 0;
}

.side-header .navbar-collapse .navbar-nav {
flex-direction: column;
width: 100%;
}

.side-header ul.navbar-nav li {
display: block;
}

.side-header ul.navbar-nav li a:not(.btn) {
display: block;
height: auto;
}

.side-header ul.navbar-nav li + li {
margin-left: 0px;
}

.side-header ul.navbar-nav li > a:hover:after, .side-header ul.navbar-nav li > a.active:after {
content: none;
width: 0px;
}

.side-header ul.navbar-nav > li > a:not(.btn) {
height: auto;
padding: 10px 0;
position: relative;
}

.side-header.side-header-right #main-wrapper {
margin-right: 260px;
margin-left: auto;
}

.side-header.side-header-right .primary-menu {
left: auto;
right: 0;
}

.side-header.side-header-right.rtl #main-wrapper {
margin-left: 260px;
margin-right: auto;
}

.side-header.side-header-right.rtl .primary-menu {
right: auto;
left: 0;
}

@media (max-width: 991.98px) {
.side-header #main-wrapper {
  margin-left: auto;
}
.side-header.rtl #main-wrapper {
  margin-right: auto;
}
.side-header .primary-menu {
  position: initial;
  width: 100%;
  height: auto !important;
  overflow: visible;
}
.side-header.side-header-right #main-wrapper {
  margin-right: auto;
}
.side-header.side-header-right.rtl #main-wrapper {
  margin-left: auto;
}
}

/*== Color Options ==*/
.primary-menu.navbar-text-light .navbar-toggler span {
background: #fff;
}

.primary-menu.navbar-text-light .navbar-nav > li > a:not(.btn) {
color: rgba(250, 250, 250, 0.9);
}

.primary-menu.navbar-text-light.navbar-line-under-text .navbar-nav > li > a:not(.logo):after, .primary-menu.navbar-text-light.navbar-line-under-text .navbar-nav > li > a.active:after {
border-color: rgba(250, 250, 250, 0.6);
}

.sticky-on.bg-transparent:not(.navbar-text-light), .sticky-top .sticky-on-top.bg-transparent:not(.navbar-text-light) {
background-color: #fff !important;
border-bottom: 1px solid #efefef !important;
}

.sticky-on.navbar-text-light.bg-transparent, .sticky-top .sticky-on-top.navbar-text-light.bg-transparent {
background-color: #111 !important;
-webkit-box-shadow: 0px 0px 10px rgba(250, 250, 250, 0.03);
box-shadow: 0px 0px 10px rgba(250, 250, 250, 0.03);
border-bottom: none !important;
}

/* Hamburger Menu Button */
.navbar-toggler {
width: 25px;
height: 30px;
padding: 10px;
margin: 18px 15px;
position: relative;
border: none;
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out;
cursor: pointer;
display: block;
}

.navbar-toggler span {
display: block;
position: absolute;
height: 2px;
width: 100%;
background: #3c3636;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: 0.25s ease-in-out;
transition: 0.25s ease-in-out;
}

.navbar-toggler span:nth-child(1) {
top: 7px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.navbar-toggler span:nth-child(2) {
top: 14px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.navbar-toggler span:nth-child(3) {
top: 21px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.navbar-toggler.show span:nth-child(1) {
top: 5px;
left: 3px;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}

.navbar-toggler.show span:nth-child(2) {
width: 0%;
opacity: 0;
}

.navbar-toggler.show span:nth-child(3) {
top: 22px;
left: 3px;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.navbar-toggler:focus {
box-shadow: none;
}

.navbar-accordion {
position: initial;
}

.navbar-expand-none .navbar-collapse {
position: absolute;
top: 99%;
right: 0;
left: 0;
background: #fff;
margin-top: 0px;
z-index: 1000;
-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.navbar-expand-none .navbar-collapse .navbar-nav {
overflow: hidden;
overflow-y: auto;
max-height: 65vh;
padding: 15px;
}

.navbar-expand-none ul.navbar-nav li {
display: block;
border-bottom: 1px solid #eee;
margin: 0;
padding: 0;
}

.navbar-expand-none ul.navbar-nav li:last-child {
border: none;
}

.navbar-expand-none ul.navbar-nav li + li {
margin-left: 0px;
}

.navbar-expand-none ul.navbar-nav li.dropdown > .dropdown-toggle > .arrow.show:after {
-webkit-transform: translate(-50%, -50%) rotate(-45deg);
transform: translate(-50%, -50%) rotate(-45deg);
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.navbar-expand-none ul.navbar-nav li:hover > a:not(.btn), .navbar-expand-none ul.navbar-nav li > a.active:not(.btn) {
color: #ee6c4d;
}

.navbar-expand-none ul.navbar-nav li > a:hover:after, .navbar-expand-none ul.navbar-nav li > a.active:after {
content: none !important;
width: 0px !important;
}

.navbar-expand-none ul.navbar-nav > li > a:not(.btn) {
height: auto;
padding: 8px 0;
position: relative;
}

.navbar-expand-none ul.navbar-nav > li.dropdown .dropdown-menu li > a:not(.btn) {
padding: 8px 0;
position: relative;
}

.navbar-expand-none ul.navbar-nav > li.dropdown:hover > a:after {
content: none;
}

.navbar-expand-none ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
-webkit-transform: translate(-50%, -50%) rotate(134deg);
transform: translate(-50%, -50%) rotate(134deg);
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.navbar-expand-none ul.navbar-nav > li.dropdown .dropdown-menu {
margin: 0;
-webkit-box-shadow: none;
box-shadow: none;
border: none;
padding: 0px 0px 0px 15px;
}

.navbar-expand-none ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
margin: 0;
}

.navbar-expand-none.navbar-text-light .navbar-collapse {
background: rgba(0, 0, 0, 0.95);
}

.navbar-expand-none.navbar-text-light .navbar-collapse ul.navbar-nav li {
border-color: rgba(250, 250, 250, 0.15);
}

.navbar-expand-none.navbar-overlay-dark .navbar-toggler.show span {
background: #fff;
}

.navbar-expand-none.navbar-overlay-dark .navbar-nav > li > a:not(.btn) {
color: #fff;
}

.navbar-expand-none.navbar-overlay-dark .navbar-collapse {
background: rgba(0, 0, 0, 0.95);
}

@media (max-width: 575.98px) {
.navbar-expand-sm .navbar-collapse {
  position: absolute;
  top: 99%;
  right: 0;
  left: 0;
  background: #fff;
  margin-top: 0px;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.navbar-expand-sm .navbar-collapse .navbar-nav {
  overflow: hidden;
  overflow-y: auto;
  max-height: 65vh;
  padding: 15px;
}
.navbar-expand-sm ul.navbar-nav li {
  display: block;
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 0;
}
.navbar-expand-sm ul.navbar-nav li:last-child {
  border: none;
}
.navbar-expand-sm ul.navbar-nav li + li {
  margin-left: 0px;
}
.navbar-expand-sm ul.navbar-nav li.dropdown > .dropdown-toggle > .arrow.show:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-expand-sm ul.navbar-nav li:hover > a:not(.btn), .navbar-expand-sm ul.navbar-nav li > a.active:not(.btn) {
  color: #ee6c4d;
}
.navbar-expand-sm ul.navbar-nav li > a:hover:after, .navbar-expand-sm ul.navbar-nav li > a.active:after {
  content: none !important;
  width: 0px !important;
}
.navbar-expand-sm ul.navbar-nav > li > a:not(.btn) {
  height: auto;
  padding: 8px 0;
  position: relative;
}
.navbar-expand-sm ul.navbar-nav > li.dropdown .dropdown-menu li > a:not(.btn) {
  padding: 8px 0;
  position: relative;
}
.navbar-expand-sm ul.navbar-nav > li.dropdown:hover > a:after {
  content: none;
}
.navbar-expand-sm ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
  -webkit-transform: translate(-50%, -50%) rotate(134deg);
  transform: translate(-50%, -50%) rotate(134deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-expand-sm ul.navbar-nav > li.dropdown .dropdown-menu {
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0px 0px 0px 15px;
}
.navbar-expand-sm ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
  margin: 0;
}
.navbar-expand-sm.navbar-text-light .navbar-collapse {
  background: rgba(0, 0, 0, 0.95);
}
.navbar-expand-sm.navbar-text-light .navbar-collapse ul.navbar-nav li {
  border-color: rgba(250, 250, 250, 0.15);
}
.navbar-expand-sm.navbar-overlay-dark .navbar-toggler.show span {
  background: #fff;
}
.navbar-expand-sm.navbar-overlay-dark .navbar-nav > li > a:not(.btn) {
  color: #fff;
}
.navbar-expand-sm.navbar-overlay-dark .navbar-collapse {
  background: rgba(0, 0, 0, 0.95);
}
}

@media (max-width: 767.98px) {
.navbar-expand-md .navbar-collapse {
  position: absolute;
  top: 99%;
  right: 0;
  left: 0;
  background: #fff;
  margin-top: 0px;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.navbar-expand-md .navbar-collapse .navbar-nav {
  overflow: hidden;
  overflow-y: auto;
  max-height: 65vh;
  padding: 15px;
}
.navbar-expand-md ul.navbar-nav li {
  display: block;
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 0;
}
.navbar-expand-md ul.navbar-nav li:last-child {
  border: none;
}
.navbar-expand-md ul.navbar-nav li + li {
  margin-left: 0px;
}
.navbar-expand-md ul.navbar-nav li.dropdown > .dropdown-toggle > .arrow.show:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-expand-md ul.navbar-nav li:hover > a:not(.btn), .navbar-expand-md ul.navbar-nav li > a.active:not(.btn) {
  color: #ee6c4d;
}
.navbar-expand-md ul.navbar-nav li > a:hover:after, .navbar-expand-md ul.navbar-nav li > a.active:after {
  content: none !important;
  width: 0px !important;
}
.navbar-expand-md ul.navbar-nav > li > a:not(.btn) {
  height: auto;
  padding: 8px 0;
  position: relative;
}
.navbar-expand-md ul.navbar-nav > li.dropdown .dropdown-menu li > a:not(.btn) {
  padding: 8px 0;
  position: relative;
}
.navbar-expand-md ul.navbar-nav > li.dropdown:hover > a:after {
  content: none;
}
.navbar-expand-md ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
  -webkit-transform: translate(-50%, -50%) rotate(134deg);
  transform: translate(-50%, -50%) rotate(134deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-expand-md ul.navbar-nav > li.dropdown .dropdown-menu {
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0px 0px 0px 15px;
}
.navbar-expand-md ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
  margin: 0;
}
.navbar-expand-md.navbar-text-light .navbar-collapse {
  background: rgba(0, 0, 0, 0.95);
}
.navbar-expand-md.navbar-text-light .navbar-collapse ul.navbar-nav li {
  border-color: rgba(250, 250, 250, 0.15);
}
.navbar-expand-md.navbar-overlay-dark .navbar-toggler.show span {
  background: #fff;
}
.navbar-expand-md.navbar-overlay-dark .navbar-nav > li > a:not(.btn) {
  color: #fff;
}
.navbar-expand-md.navbar-overlay-dark .navbar-collapse {
  background: rgba(0, 0, 0, 0.95);
}
}

@media (max-width: 991.98px) {
.navbar-expand-lg .navbar-collapse {
  position: absolute;
  top: 99%;
  right: 0;
  left: 0;
  background: #fff;
  margin-top: 0px;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.navbar-expand-lg .navbar-collapse .navbar-nav {
  overflow: hidden;
  overflow-y: auto;
  max-height: 65vh;
  padding: 15px;
}
.navbar-expand-lg ul.navbar-nav li {
  display: block;
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 0;
}
.navbar-expand-lg ul.navbar-nav li:last-child {
  border: none;
}
.navbar-expand-lg ul.navbar-nav li + li {
  margin-left: 0px;
}
.navbar-expand-lg ul.navbar-nav li.dropdown > .dropdown-toggle > .arrow.show:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-expand-lg ul.navbar-nav li:hover > a:not(.btn), .navbar-expand-lg ul.navbar-nav li > a.active:not(.btn) {
  color: #ee6c4d;
}
.navbar-expand-lg ul.navbar-nav li > a:hover:after, .navbar-expand-lg ul.navbar-nav li > a.active:after {
  content: none !important;
  width: 0px !important;
}
.navbar-expand-lg ul.navbar-nav > li > a:not(.btn) {
  height: auto;
  padding: 8px 0;
  position: relative;
}
.navbar-expand-lg ul.navbar-nav > li.dropdown .dropdown-menu li > a:not(.btn) {
  padding: 8px 0;
  position: relative;
}
.navbar-expand-lg ul.navbar-nav > li.dropdown:hover > a:after {
  content: none;
}
.navbar-expand-lg ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
  -webkit-transform: translate(-50%, -50%) rotate(134deg);
  transform: translate(-50%, -50%) rotate(134deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-expand-lg ul.navbar-nav > li.dropdown .dropdown-menu {
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0px 0px 0px 15px;
}
.navbar-expand-lg ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
  margin: 0;
}
.navbar-expand-lg.navbar-text-light .navbar-collapse {
  background: rgba(0, 0, 0, 0.95);
}
.navbar-expand-lg.navbar-text-light .navbar-collapse ul.navbar-nav li {
  border-color: rgba(250, 250, 250, 0.15);
}
.navbar-expand-lg.navbar-overlay-dark .navbar-toggler.show span {
  background: #fff;
}
.navbar-expand-lg.navbar-overlay-dark .navbar-nav > li > a:not(.btn) {
  color: #fff;
}
.navbar-expand-lg.navbar-overlay-dark .navbar-collapse {
  background: rgba(0, 0, 0, 0.95);
}
}

@media (max-width: 1199.98px) {
.navbar-expand-xl .navbar-collapse {
  position: absolute;
  top: 99%;
  right: 0;
  left: 0;
  background: #fff;
  margin-top: 0px;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.navbar-expand-xl .navbar-collapse .navbar-nav {
  overflow: hidden;
  overflow-y: auto;
  max-height: 65vh;
  padding: 15px;
}
.navbar-expand-xl ul.navbar-nav li {
  display: block;
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 0;
}
.navbar-expand-xl ul.navbar-nav li:last-child {
  border: none;
}
.navbar-expand-xl ul.navbar-nav li + li {
  margin-left: 0px;
}
.navbar-expand-xl ul.navbar-nav li.dropdown > .dropdown-toggle > .arrow.show:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-expand-xl ul.navbar-nav li:hover > a:not(.btn), .navbar-expand-xl ul.navbar-nav li > a.active:not(.btn) {
  color: #ee6c4d;
}
.navbar-expand-xl ul.navbar-nav li > a:hover:after, .navbar-expand-xl ul.navbar-nav li > a.active:after {
  content: none !important;
  width: 0px !important;
}
.navbar-expand-xl ul.navbar-nav > li > a:not(.btn) {
  height: auto;
  padding: 8px 0;
  position: relative;
}
.navbar-expand-xl ul.navbar-nav > li.dropdown .dropdown-menu li > a:not(.btn) {
  padding: 8px 0;
  position: relative;
}
.navbar-expand-xl ul.navbar-nav > li.dropdown:hover > a:after {
  content: none;
}
.navbar-expand-xl ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
  -webkit-transform: translate(-50%, -50%) rotate(134deg);
  transform: translate(-50%, -50%) rotate(134deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-expand-xl ul.navbar-nav > li.dropdown .dropdown-menu {
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0px 0px 0px 15px;
}
.navbar-expand-xl ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
  margin: 0;
}
.navbar-expand-xl.navbar-text-light .navbar-collapse {
  background: rgba(0, 0, 0, 0.95);
}
.navbar-expand-xl.navbar-text-light .navbar-collapse ul.navbar-nav li {
  border-color: rgba(250, 250, 250, 0.15);
}
.navbar-expand-xl.navbar-overlay-dark .navbar-toggler.show span {
  background: #fff;
}
.navbar-expand-xl.navbar-overlay-dark .navbar-nav > li > a:not(.btn) {
  color: #fff;
}
.navbar-expand-xl.navbar-overlay-dark .navbar-collapse {
  background: rgba(0, 0, 0, 0.95);
}
}

/*== Overlay Menu ==*/
.navbar-overlay .navbar-collapse {
position: fixed;
display: block;
left: 0;
top: 0;
width: 100%;
pointer-events: auto;
height: 100% !important;
opacity: 0 !important;
visibility: hidden;
background: rgba(255, 255, 250, 0.95);
-webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
transition: visibility 0.3s ease, opacity 0.3s ease;
}

.navbar-overlay .navbar-collapse.show {
opacity: 1 !important;
visibility: visible;
}

.navbar-overlay .navbar-collapse .navbar-nav {
min-width: 400px;
max-height: 80vh;
}

.navbar-overlay .navbar-toggler {
z-index: 1001;
}

.navbar-overlay ul.navbar-nav li {
text-align: center;
max-width: 400px;
border: 0px none;
}

.navbar-overlay ul.navbar-nav li:hover > a:not(.btn), .navbar-overlay ul.navbar-nav li > a.active:not(.btn) {
color: #ee6c4d;
}

.navbar-overlay ul.navbar-nav li a {
display: block;
opacity: 0;
-webkit-transform: translateY(-80px);
transform: translateY(-80px);
-webkit-transition: opacity 0.6s 0.14s ease, transform 0.44s 0.14s ease, color 0.2s linear;
transition: opacity 0.6s 0.14s ease, transform 0.44s 0.14s ease, color 0.2s linear;
}

.navbar-overlay .navbar-collapse.show ul.navbar-nav li a {
opacity: 1;
-webkit-transform: translateY(0);
transform: translateY(0);
}

/*== Push Side Open Menu ==*/
.navbar-side-open .navbar-collapse {
position: fixed;
display: block;
right: 0px;
left: auto;
top: 0;
width: 300px;
padding: 65px 15px 15px 15px;
pointer-events: auto;
height: 100% !important;
background: rgba(255, 255, 250, 0.95);
-webkit-transform: translateX(calc(100% + 15px));
transform: translateX(calc(100% + 15px));
-webkit-transition: transform 0.5s ease !important;
transition: transform 0.5s ease !important;
}

.navbar-side-open .navbar-collapse.show {
-webkit-transform: translateX(0);
transform: translateX(0);
}

.navbar-side-open .navbar-collapse .navbar-nav {
max-height: 80vh;
width: 100%;
margin-right: 0px;
margin-left: 0px;
}

.navbar-side-open .navbar-toggler {
z-index: 1001;
}

.navbar-side-open ul.navbar-nav li {
border: 0px none;
}

.navbar-side-open ul.navbar-nav li a {
display: block;
padding: 10px 0 !important;
}

.dropdown-menu {
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.176);
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.176);
border: 0px none;
font-size: 14px;
font-size: 0.875rem;
}

/*=== 4.2 Secondary Nav ===*/
.secondary-nav.nav {
padding-left: 8px;
}

.secondary-nav.nav .nav-link {
text-align: center;
font-size: 16px;
padding: 1rem 20px;
white-space: nowrap;
color: rgba(250, 250, 250, 0.9);
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.secondary-nav.nav .nav-link:hover {
color: #fafafa;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.secondary-nav.nav .nav-link span {
display: block;
font-size: 30px;
margin-bottom: 5px;
}

.secondary-nav.nav .nav-item .nav-link.active {
background: rgba(0, 0, 0, 0.1);
color: #fff;
}

.secondary-nav.nav.alternate .nav-link {
color: rgba(0, 0, 0, 0.6);
}

.secondary-nav.nav.alternate .nav-link:hover {
color: black;
}

.secondary-nav.nav.alternate .nav-item .nav-link.active {
background-color: transparent;
color: #1e1d1c;
border-bottom: 3px solid #ee6c4d;
}

@media (max-width: 991.98px) {
.secondary-nav.nav {
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
}

/*=== 4.3 Page Header ===*/
.page-header {
margin: 0 0 30px 0;
padding: 30px 0;
}

.page-header h1 {
font-weight: normal;
font-size: 30px;
margin: 0;
padding: 5px 0;
}

.page-header .breadcrumb {
background: none;
margin: 0 0 8px 2px;
padding: 0;
position: relative;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
}

.page-header .breadcrumb > li {
display: inline-block;
font-size: 0.85em;
text-shadow: none;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.page-header .breadcrumb > li + li:before {
color: inherit;
opacity: 0.7;
content: "\f105";
padding: 0 7px 0 5px;
font-weight: 900;
}

.page-header .breadcrumb > li a {
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.page-header .breadcrumb > li a:hover {
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.page-header.page-header-text-light {
color: #fff;
}

.page-header.page-header-text-light h1 {
color: #fff;
}

.page-header.page-header-text-light .breadcrumb > li {
color: rgba(250, 250, 250, 0.8);
}

.page-header.page-header-text-light .breadcrumb > li a {
color: rgba(250, 250, 250, 0.8);
}

.page-header.page-header-text-light .breadcrumb > li a:hover {
color: #fff;
}

.page-header.page-header-text-dark h1 {
color: #1e1d1c;
}

.page-header.page-header-text-dark .breadcrumb > li {
color: #707070;
}

.page-header.page-header-text-dark .breadcrumb > li a {
color: #707070;
}

.page-header.page-header-text-dark .breadcrumb > li a:hover {
color: #ee6c4d;
}


/*** Header ***/
#home {
  margin-bottom: 6rem;
  background: url(../img/bg-header.png) left top no-repeat;
}

.typed-cursor {
  font-size: 30px;
  color: var(--dark);
}
#header {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header .navbar {
  padding: 0px;
}

#header .logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}


/*** About ***/

#about .years .display-1 {
  font-size: 10rem;
  line-height: 9rem;
}

#about .years h5 {
  letter-spacing: 10px;
  margin-right: -30px;
}
#about .border-primary {
  border-color: #ee6c4d !important;
}

/*** Service ***/
.service-item .bg-icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/bg-icon.png) center center no-repeat;
  background-size: cover;
}

/*** Skills ***/
.progress {
  height: 5px;
  border-radius: 5px;
}

.progress .progress-bar {
  width: 0px;
  border-radius: 5px;
  transition: 3s;
}
.border-primary {
  border-color: #ee6c4d !important;
}

.nav-pills .nav-link {
  color: var(--dark);
}

.nav-pills .nav-link.active {
  color: #FFFFFF;
  background-color: #ee6c4d !important;
}

.tab-content hr {
  width: 30px;
}

/*** Project Portfolio ***/
#portfolio-flters li {
  display: inline-block;
  font-weight: 500;
  color: var(--dark);
  cursor: pointer;
  transition: .5s;
  border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
  color: var(--primary);
  border-color: var(--primary);
}

.portfolio-img {
  position: relative;
}

.portfolio-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(57, 57, 57, 0.5);
  padding-bottom: 100px !important;
  opacity: 0;
  transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  padding-bottom: 30px !important;
}

/*** Testimonial ***/
.testimonial-left,
.testimonial-right {
  position: relative;
}

.testimonial-left img,
.testimonial-right img {
  position: absolute;
  padding: 5px;
  border: 1px solid var(--secondary);
  border-radius: 70px;
}

.testimonial-left img:nth-child(1),
.testimonial-right img:nth-child(3) {
  width: 70px;
  height: 70px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-left img:nth-child(2),
.testimonial-right img:nth-child(2) {
  width: 60px;
  height: 60px;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.testimonial-left img:nth-child(3),
.testimonial-right img:nth-child(1) {
  width: 50px;
  height: 50px;
  bottom: 10%;
  right: 10%;
}

.testimonial-carousel .owl-item img {
  width: 120px;
  height: 120px;
}

.testimonial-carousel .testimonial-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid var(--secondary);
  border-radius: 60px;
}

.testimonial-carousel .owl-dots {
  height: 40px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 2px solid var(--secondary);
  border-radius: 30px;
  transition: .5s;
}

.testimonial-carousel .owl-dot::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 5px;
  left: 5px;
  border-radius: 16px;
  background: var(--secondary);
  transition: .5s;
}

.testimonial-carousel .owl-dot.active::after {
  background: var(--primary);
}

#footer {
  background: #fff;
  color: #252b33;
  padding: 66px 0px;
  padding: 4.125rem 0;
}

